<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.ppih">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PPIH">
        <activity
            android:name=".al_quran.F1HomeActivity"
            android:exported="false" />
        <activity
            android:name=".instansi_pendidikan_di_hadhramaut.F5HomeActivity"
            android:exported="false" />
        <activity
            android:name=".biografi_ulama_hadhramaut.F4HomeActivity"
            android:exported="false" />
        <activity
            android:name=".sejarah_masjid_tarim.F3HomeActivity"
            android:exported="false" />
        <activity
            android:name=".dzikir_dan_maulid.F2HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>